@import url(https://fonts.googleapis.com/earlyaccess/cwtexyen.css);
#intro {
  background-color: #eeece7;
}
#index-latest {
  background-color: #eeece7;
}
p,
b,
a,
label,
span,
ul,
li {
  font-family: cwTeXYen, sans-serif;
  font-size: 1.2rem;
  text-align: center;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: cwTeXYen, sans-serif;
  text-align: center;
}

.iframe-rwd {
  position: relative;
  padding: 10px 15px;
  overflow: hidden;
}
.iframe-rwd iframe {
  position: relative;
  margin: auto 10px;
  width: 100%;
  height: 100%;
}

/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
  #intro a {
    text-align: left;
  }
  #intro img{
	  width: 60px;
	  height: 50px;
  }
  #index-second h1,
  #second h1 {
    letter-spacing: 10px;
    font-weight: bolder;
    color: rgb(255, 255, 255);
    text-align: center;
  }
  #index-second p,
  #second p {
    letter-spacing: 10px;
    color: rgb(255, 255, 255);
    text-align: center;
  }

  #index-third {
    padding: 10px;
  }

  #index-third .container .row {
    padding: 10px 0;
  }

  #index-third p {
    font-size: 1rem;
  }

  #index-fourth p {
    font-size: 1rem;
    margin: 10px auto;
  }

  #index-latest h5 {
    margin-top: 10px;
    text-align: left;
    font-family: cwTeXYen, sans-serif;
  }

  #index-latest p {
    font-size: 0.8rem;
    text-align: left;
  }
  #index-latest a {
	font-size: 0.8rem;
	color: grey;
  }
  #index-latest a:hover {
	color: black;
  }

  #index-latest img {
    margin-top: 10px;
  }
}

#third {
  padding: 20px;
}
#third .btn {
  border-radius: 40px;
  color: white;
  font-size: 0.7rem;
  margin: 3px;
}
#third .btn-group {
  margin: 10px 20px;
}

#third a.btn {
  display: inline-block;
  text-align: center;
  border: 1px solid;
  transition: all 0.2s ease;
  width: 50px;
  height: 50px;
}
#fourth .img-fluid {
  max-width: 90%;
  height: auto;
}
.title {
  font-size: 25px;
  color: white;
  letter-spacing: 20px;
}
#fourth p {
  color: white;
  letter-spacing: 10px;
}

#booking-second{
	padding: 20px;
}

#booking-second .container {
  background-color: rgb(255, 255, 255);
  border-radius: 1rem 1rem;
  padding: 10px;	
}
#menu-img{
	width: 75px;
	height: 50px;
	margin: 20px;
}

#bk-second-menu img{
	max-width: 70%;
	height: auto;
	margin: 10px auto;
}
#booking-second .btn {
	margin: 10px auto;
}

.row .text-center a.btn{
margin: 10px;
}
#selectedMeal{
	border:none;
}

#side1 img{
	max-width: 70%;
	height: auto;
	margin: 10px auto;
	display:  flex;
     align-items: center;
     justify-content:  center;
}

#side1 .table{
	margin: 0;
}

#side1 input,td{
	font-family: cwTeXYen, sans-serif;
}
#side1 .btn,.modal-body .btn{
	margin: 10px auto;
width: 100%;
}

#ck-second h4{
	margin: 10px;
}
#ck-second p{
	text-align: left;
	font-size: 1rem;
}
.table td{
	font-size: 0.7rem;
	padding: 0.3rem;
}
.table{
	margin: 0;
}
#ck-second .btn{
	margin: 10px;
	font-family: cwTeXYen, sans-serif;
	font-size: 1rem;
}
#bkok-second h3{
    padding: 55% 0;
    font-family: cwTeXYen, sans-serif;
  }
/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
  #latest .col-md-4 {
    padding: 1em 2em;
  }

  #orderButton.btn {
    width: 100%;
    font-size: 20px;
    font-family: cwTeXYen, sans-serif;
  }

  .btn.bg-primary.text-white {
    width: 100%;
    font-size: 20px;
    font-family: cwTeXYen, sans-serif;
  }

  .btn.btn-primary {
    margin: 0.5em 1em;
    width: 15em;
    font-size: 20px;
    font-family: cwTeXYen, sans-serif;
  }
  .pic {
    width: 300px;
    height: 250px;
  }
  .font {
    border-radius: 10px;
    font-size: 30px;
    font-family: cwTeXYen, sans-serif;
    letter-spacing: 10px;
  }
  .font1 {
    font-size: 25px;
    font-family: cwTeXYen, sans-serif;
    letter-spacing: 10px;
  }
  .font2 {
    border-radius: 10px;
    font-size: 25px;
    font-family: cwTeXYen, sans-serif;
    letter-spacing: 5px;
  }
  .font3 {
    font-size: 25px;
    font-family: cwTeXYen, sans-serif;
    color: white;
  }
  .font4 {
    font-size: 30px;
    font-family: cwTeXYen, sans-serif;
    color: white;
  }
  .font6 {
    width: 5em;
    border-radius: 10px;
    font-size: 25px;
    font-family: cwTeXYen, sans-serif;
    letter-spacing: 5px;
    position: absolute;
    right: 20px; /*div id go中的下拉式選單*/
  }
  .font7 {
    border-radius: 10px;
    font-size: 25px;
    font-family: cwTeXYen, sans-serif;
    letter-spacing: 5px;
    color: white;
    margin-left: 20px; /*div id go中的文字*/
  }
  #fourth h1 {
    text-align: center;
    letter-spacing: 10px;
    color: white;
    line-height: 2em;
    font-family: cwTeXYen, sans-serif;
  }
  #fourth p {
    font-size: 25px;
    text-align: center;
    letter-spacing: 10px;
    color: white;
    line-height: 2.5em;
  }

  .font11 {
    font-size: 25px;
    font-family: cwTeXYen, sans-serif;
    margin: 1em 0 1em 0;
    color: block;
    width: 1050px;
  }

  .grid-container {
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: auto auto auto;
  }

  .grid-container > div {
    text-align: center;
    padding: 10px;
    font-size: 30px;
  }

  .content {
    margin: 0 15em;
    width: 70%;
  }
  #index-second p {
    letter-spacing: 10px;
    font-size: 30px;
    color: rgb(255, 255, 255);
    text-align: center;
  }
  #index-second h1 {
    font-family: cwTeXYen, sans-serif;
    letter-spacing: 10px;
    font-weight: bolder;
    color: rgb(255, 255, 255);
    text-align: center;
  }
  #index-third {
    margin-top: 3em;
  }
  #index-third h2 {
    text-align: center;
  }

  #index-third .container {
    padding: 30px;
  }
  #business p {
    margin: 80px auto;
    line-height: 50px;
  }

  #history p {
    margin: 50px auto;
  }
  #index-fourth {
    margin-top: 4em;
    margin-bottom: 3em;
  }
  #index-fourth p {
    margin-top: 2em;
    font-size: 20px;
    letter-spacing: 5px;
  }
  #index-fourth h2 {
    margin-bottom: 2em;
    text-align: center;
    background-color: rgb(227, 229, 227);
    border-radius: 80px;
    padding: 10px;
  }
  #index-fourth iframe {
    width: 100%;
    height: 500px;
  }

  #intro {
    background-color: rgb(238, 236, 231);
  }

  #collapsibleNavbar a {
    font-size: 25px;
    font-family: cwTeXYen, sans-serif;
    color: black;
  }

  #second h1 {
    font-family: cwTeXYen, sans-serif;
    letter-spacing: 10px;
    font-size: 67px;
    font-weight: bolder;
    color: white;
    text-align: center;
  }
  #second p {
    letter-spacing: 10px;
    font-size: 30px;
    color: white;
    text-align: center;
  }
  #third {
    padding: 40px 20px;
  }
  #third .btn {
    border-radius: 100px;
    color: white;
    font-size: 20px;
  }
  #third .btn-group {
    margin: 10px 20px;
  }

  #fourth .container {
    padding-top: 5em;
    padding-bottom: 5em;
  }
  #fourth img {
    width: 300px;
    height: 200px;
  }
  footer {
    border-top: 1px solid #000000;
    padding: 20px 0px;
    background-color: rgb(238, 236, 231);
  }
  footer h3 {
    font-family: cwTeXYen, sans-serif;
    font-weight: bolder;
  }
  footer p {
    font-size: 20px;
  }
  footer a {
    font-size: 20px;
    margin-right: 10px;
  }

  footer img {
    padding-top: 18px;
    width: 300px;
  }
  footer a {
    color: black;
  }
  #latest {
    margin-bottom: 0;
  }
  #booking-second h2 {
    line-height: 1em;
    letter-spacing: 5px;
    font-family: cwTeXYen, sans-serif;
    padding: 1em 0;
  }
  #booking-second input select {
    margin-bottom: 10px;
  }
  #booking-second p {
    font-size: 20px;
  }
  #ti {
    width: 50%;
  }
  #datepicker {
    width: 50%;
  }
  #booking b,
  a,
  span {
    font-size: 15px;
  }
  #booking-second label {
    font-size: 20px;
  }

  #booking-second .container {
    background-color: rgb(255, 255, 255);
    border-radius: 2em 2em;
  }
  #booking-second {
    padding: 2em 2em;
  }
  #booking-second button {
    background-color: rgb(119, 172, 107);
    font-size: 20px;
    margin: 1em auto;
    width: 100%;
    height: 40px;
  }
  #modal-body button {
    border-radius: 5px;
    width: 100%;
    height: 10%;
    font-size: 25px;
    font-family: cwTeXYen, sans-serif;
    margin: 0.5em;
  }

  #menu-img {
    width: 150px;
    margin: 1em;
  }
  #bk-second-menu {
    padding-bottom: 1em;
  }
  #bk-second .justify-content-center .btn {
    background-color: rgb(105, 163, 114);
    width: 80%;
    border: solid 1px;
    border-radius: 2em 2em 2em 2em;
    font-size: 20px;
    height: 45px;
  }

  #bk-second h3 {
    font-family: cwTeXYen, sans-serif;
    text-align: center;
  }

  #bk-second .modal-header h2 {
    font-family: cwTeXYen, sans-serif;
  }
  #bk-second .modal-header input {
    outline: none;
    border: none;
  }
  #bk-second .col-lg img {
    padding: 2em;
  }
  #shopcar {
    width: 100%;
  }
  #side1 h2 {
    font-family: cwTeXYen, sans-serif;
    text-align: left;
    padding-top: 1em;
  }

  #side1 {
    border-left: solid 1px rgb(197, 191, 191);
    border-top: solid 1px rgb(197, 191, 191);
    height: 89em;
    overflow: scroll;
  }

  #Sidebar td,
  input {
    font-size: 20px;
    font-family: cwTeXYen, sans-serif;
  }

  #a td {
    font-size: 20px;
    font-family: cwTeXYen, sans-serif;
    width: 150px;
  }
  #click {
    margin: 1em auto;
  }
  #ck-second h2 {
    line-height: 80px;
    font-family: cwTeXYen, sans-serif;
  }

  #bkok-second h1 {
    padding: 5.6em 0;
    font-family: cwTeXYen, sans-serif;
  }

  .iframe-rwd {
    position: relative;
    padding: 30px 15px 30px 15px;
    overflow: hidden;
  }
  .iframe-rwd iframe {
    position: relative;
    width: 100%;
    height: 100%;
  }

  a.btn {
    margin-right: 1em;
    display: inline-block;
    text-align: center;
    letter-spacing: 5px;
    border: 1px solid;
    transition: all 0.2s ease;
    width: 80px;
    height: 80px;
    line-height: 30px;
    font-family: cwTeXYen, sans-serif;
  }
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

hr {
  border: 0;
  border-top: 2px solid #eee;
  padding: 0;
}

/* Buttons styles */
input::-moz-focus-inner,
button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input[type="submit"].btn,
button.btn {
  cursor: pointer;
}

/* Sizes */
.btn-small {
  font-size: 0.8125em;
  padding: 0.4125em 1.25em;
}
.btn-medium {
  font-size: 20px;
  padding: 0.5375em 1.375em;
}
.btn-large {
  font-size: 1.0625em;
  padding: 0.5625em 1.5em;
}

/* Colors */
.btn-green:hover {
  background: #3cb371;
  color: #fff;
  border-color: #3cb371;
}

.btn-blue:hover {
  background: #4682b4;
  color: #fff;
  border-color: #4682b4;
}

.btn-orange:hover {
  background: #ff8c00;
  color: #fff;
  border-color: #ff8c00;
}
.btn-red:hover {
  background: #b22222;
  color: #fff;
  border-color: #b22222;
}

.btn-maroon:hover {
  background: #800000;
  color: #fff;
  border-color: #800000;
}

.btn-fuchsia:hover {
  background: #ff00ff;
  color: #fff;
  border-color: #ff00ff;
}

.btn-indigo:hover {
  background: #4b0082;
  color: #fff;
  border-color: #4b0082;
}

.btn-saddlebrown:hover {
  background: #8b4513;
  color: #fff;
  border-color: #8b4513;
}

.btn-chocolate:hover {
  background: #d2691e;
  color: #fff;
  border-color: #d2691e;
}

.btn-gold:hover {
  background: #ffd700;
  color: #fff;
  border-color: #ffd700;
}

.btn-darkolivegreen:hover {
  background: #556b2f;
  color: #fff;
  border-color: #556b2f;
}

.btn-royalblue:hover {
  background: #4169e1;
  color: #fff;
  border-color: #4169e1;
}