@import url(https://fonts.googleapis.com/earlyaccess/cwtexyen.css);
h1,h2,h3,h4,h5,h6,p{
  margin: 1.5vmin 0;
}
h1{font-size: 8vmin;}
h2{font-size: 7vmin;}
h3{font-size: 6vmin;}
h4{font-size: 5vmin;}
h5{font-size: 4vmin;}
h6{font-size: 3vmin;}

p,b,a,label,span,ul,li {
  font-family: cwTeXYen, sans-serif;
  font-size: 3vmin;
  text-align: center;
}
h1,h2,h3,h4,h5,h6 {
  font-family: cwTeXYen, sans-serif;
  text-align: center;
}
select{
  font-family: cwTeXYen, sans-serif;
  font-size: 3vmin;
}
header {
  background-color: #eeece7;
}
header a {
  text-align: left;
}
header img{
  width: 12vmin;
  height: 10vmin;
}
#index-second h1,
#second h1 {
  letter-spacing: 1.5vmin;
  font-weight: bolder;
  color: rgb(255, 255, 255);
}
#index-second h4,
#second h4 {
  letter-spacing: 1vmin;
  color: rgb(255, 255, 255);
}

#index-fourth h4{
  font-size: 5vmin;
  margin:2vmin auto 5vmin auto;
  background-color: rgb(224, 221, 221);
  border-radius: 5vmin 5vmin;
  padding: 1vmin 4vmin;
}
#index-fourth p {
  margin: 3vmin auto;
}
#index-third {
  padding: 1.5vmin;
}
#index-third .container .row {
  padding: 1.5vmin 0;
}
.iframe-rwd {
  position: relative;
  padding: 10px 15px;
  overflow: hidden;
}
.iframe-rwd iframe {
  position: relative;
  margin: auto 10px;
  width: 100%;
  height: 100%;
}
footer a {
	color: grey;
  }
  footer a:hover {
	color: black;
  }
footer h5,footer p {
  text-align: left;
}
footer {
  border-top: 1px solid #000000;
  padding: 6vmin;   
  background-color: rgb(238, 236, 231);
}
#third {
  padding: 3.5vmin;
}
#third .btn {
  display: inline-block;
  text-align: center;
  border: 1px solid;
  transition: all 0.2s ease;
  width: 12vw;
  height: 12vw;
  border-radius: 12vw 12vw;
  color: white;
  font-size: 3vw;
  padding: 2vw;
}
#fourth .title {
  font-size: 6vmin;
  color: white;
  letter-spacing: 3vmin;
  margin-top: 5vmin;
}
#fourthimg{
  max-width: 80%;
  height: auto;
}
#fourth p {
  color: white;
  letter-spacing: 0.5vmin;
  line-height: 7vmin;
}
#fourth  .container{
  padding-bottom: 2rem;
}
#booking-second{
	padding:25vmin 6vmin;
}
#booking-second .container {
  background-color: rgb(255, 255, 255);
  border-radius: 2vmin 2vmin;

}
.form{
  padding-top: 3vmin;
}

#menu-img{
	width: 40vmin;
	height: 7.5vmin;
	margin: 2.8vmin;
}
#bk-second-menu img{
	max-width: 70%;
	height: auto;
	margin: 3vmin auto;
}
#bk-second .title{
  font-size: 4vmin;
}
  #selectedMeal{
    border:none;
  }
  #side1 .title{
    font-size: 4vmin;
  }
  #side1 {
    border-left: solid 1px rgb(197, 191, 191);
    border-top: solid 1px rgb(197, 191, 191);
    height: 180vmin;
    overflow: scroll;
  }
  #booking-second button {
    background-color: rgb(119, 172, 107);
    font-family:cwTeXYen, sans-serif;
    font-size: 3vmin;
    margin: 1.6vmin auto;
    width: 100%;
    height: 40px;
  }

  #bk-second .justify-content-center .btn {
    background-color: rgb(105, 163, 114);
    width: 80%;
    border: solid 1px;
    border-radius: 10vmin;
    margin:0 2vmin 2vmin 2vmin;
    font-size: 3vmin;
  }
  .modal-body label , .modal-body p{
    font-size: 3vmin;
  }
  .modal-header p,.modal-header input{
    font-size: 3vmin;
  }
  .modal-body button {
    width: 100%;
    font-family: cwTeXYen, sans-serif;
    margin-top: 3vmin;
  }
  #side1 button{
    width: 100%;
    font-family: cwTeXYen, sans-serif;
    margin-bottom: 3vmin;
    font-size: 3vmin;
  }

  #side1 input,td{
    font-family: cwTeXYen, sans-serif;
  }
  #ck-second .title{
    font-size: 5vmin;
    margin: 10vmin 0;
  }
  #ck-second .row{
    margin: 10vmin 0;
  }
  #ck-second .table-responsive{
    margin: 15vmin 0 5vmin 0;
  }
  #ck-second p{
    text-align: left;
    font-size: 3vmin;
  }
  .table td{
    font-size: 3vmin;
  }
  .table{
    margin: 0;
  }
  #ck-second .btn{
    margin: 10px;
    font-family: cwTeXYen, sans-serif;
    font-size: 3vmin;
    letter-spacing: 2vmin;
    padding: 1vmin 4vmin;
  }
  #bkok-second h3{
      padding: 17rem 0;
      font-family: cwTeXYen, sans-serif;
    }
/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {


#fourth .img-fluid {
  max-width: 80%;
  height: auto;
}
#fourth .title {
  font-size: 5vmin;
  color: white;
  letter-spacing: 6vmin;
}
#fourth p {
  color: white;
  letter-spacing: 1vmin;
  font-size: 5vmin;
}
#third .btn {
  width: 14vw;
  height: 14vw;
  font-size: 3vw;
  padding: 3vw;
}
/*
#side1 img{
	max-width: 70%;
	height: auto;
	margin: 10px auto;
	display:  flex;
     align-items: center;
     justify-content:  center;
}

#side1 .table{
	margin: 0;
}

#side1 input,td{
	font-family: cwTeXYen, sans-serif;
}
#side1 .btn,.modal-body .btn{
	margin: 10px auto;
width: 100%;
}


  */
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
  #third .btn { 
    margin: 1vw 1vw;
    width: 10vw;
    height: 10vw;
    font-size: 2vw;
    padding: 2vw;
} 
}


/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
  #third .btn { 
      margin: 1vw 1vw;
      width: 7vw;
      height: 7vw;
      font-size: 1.5vw;
      padding: 1.5vw;
  }
  #business h6 {
    margin: 6vmin auto;
    line-height: 5vmin;
  }
  #booking-second{
    padding:6vmin 6vmin;
  }
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
  #third .btn {
    margin: 1vw 1vw;
  }
  #index-second img,#second img{
    width: 100%;
    height: 90vmin;
  }
  #third .btn {
    margin: 1vw 1vw;
    width: 7vw;
    height: 7vw;
    font-size: 1.5vw;
    padding: 1.5vw;
  }
  #business h6 {
    margin: 10vmin auto;
    line-height: 5vmin;
  }
  #history h6 {
    margin: 7vmin auto;
    line-height: 7vmin;
  }
  #booking-second{
    padding:6vmin 6vmin;
  }
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
  #third .btn {
    margin: 1vw 1vw;
    width: 6vw;
    height: 6vw;
    font-size: 1.5vw;
    padding: 1vw;
  }

  #index-second img,#second img{
    width: 100%;
    height: 90vmin;
  }
  #business h6 {
    margin: 10vmin auto;
    line-height: 7vmin;
  }
  #history h6 {
    margin: 7vmin auto;
    line-height: 7vmin;
  }
  #index-fourth iframe {
    width: 100%;
    height: 500px;
  }
  #side1 {
    border-left: solid 1px rgb(197, 191, 191);
    border-top: solid 1px rgb(197, 191, 191);
    height: 89em;
    overflow: scroll;
  }
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

hr {
  border: 0;
  border-top: 2px solid #eee;
  padding: 0;
}

/* Buttons styles */
input::-moz-focus-inner,
button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input[type="submit"].btn,
button.btn {
  cursor: pointer;
}

/* Sizes */
.btn-small {
  font-size: 0.8125em;
  padding: 0.4125em 1.25em;
}
.btn-medium {
  font-size: 20px;
  padding: 0.5375em 1.375em;
}
.btn-large {
  font-size: 1.0625em;
  padding: 0.5625em 1.5em;
}

/* Colors */
.btn-green:hover {
  background: #3cb371;
  color: #fff;
  border-color: #3cb371;
}

.btn-blue:hover {
  background: #4682b4;
  color: #fff;
  border-color: #4682b4;
}

.btn-orange:hover {
  background: #ff8c00;
  color: #fff;
  border-color: #ff8c00;
}
.btn-red:hover {
  background: #b22222;
  color: #fff;
  border-color: #b22222;
}

.btn-maroon:hover {
  background: #800000;
  color: #fff;
  border-color: #800000;
}

.btn-fuchsia:hover {
  background: #ff00ff;
  color: #fff;
  border-color: #ff00ff;
}

.btn-indigo:hover {
  background: #4b0082;
  color: #fff;
  border-color: #4b0082;
}

.btn-saddlebrown:hover {
  background: #8b4513;
  color: #fff;
  border-color: #8b4513;
}

.btn-chocolate:hover {
  background: #d2691e;
  color: #fff;
  border-color: #d2691e;
}

.btn-gold:hover {
  background: #ffd700;
  color: #fff;
  border-color: #ffd700;
}

.btn-darkolivegreen:hover {
  background: #556b2f;
  color: #fff;
  border-color: #556b2f;
}

.btn-royalblue:hover {
  background: #4169e1;
  color: #fff;
  border-color: #4169e1;
}