@import url(https://fonts.googleapis.com/earlyaccess/cwtexyen.css);
#intro {
  background-color: #eeece7;
}
#index-latest {
  background-color: #eeece7;
}
p,b,a,input,label,span,ul,li{
	font-family: cwTeXYen,sans-serif;
  font-size:  1.2rem;
  text-align: center;
  }
  h1,h2,h3,h4,h5,h6{
    font-family: cwTeXYen,sans-serif;
    text-align: center; 
    }
    .iframe-rwd {
      position: relative;
      padding:10px 15px;
      overflow: hidden;
    }
    .iframe-rwd iframe {
      position: relative;
      margin:auto 10px;
      width: 100%;
      height: 100%;
    }

/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
  #intro a{
    text-align:left
  }
  #index-second h1 {
    letter-spacing: 10px;
    font-weight: bolder;
    color: rgb(255, 255, 255);
    text-align: center;
  }
  #index-second p {
    letter-spacing: 10px;
    color: rgb(255, 255, 255);
    text-align: center;
  }

  #index-third {
    padding: 10px;
  }

  #index-third .container .row{
    padding:10px 0;
  }

  #index-third p{
    font-size:1rem
  }

  #index-fourth p{
    font-size:1rem
  }

  #index-latest h5{
    margin-top: 10px;
    text-align:left;
  }

  #index-latest p{
    font-size:0.8rem;
    text-align:left;
  }
  #index-latest a{
    font-size:0.8rem;
  }
  #index-latest img {
    margin-top: 10px;
  }
}
